{% extends 'base.html' %}
{% block title %}Signup Page{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block content %}
    <section class="cta-main-login">
        <div class="cta-form">
            <div class="cta-img"><img src="./img/user.png" alt=""></div>
            <h1>PRE - DOC</h1>
            <a href="{{ url_for('auth.login') }}">Already have Account ?</a>
            <form method="post">
                <input type="text" placeholder="Create your username" name="username" id="username" required><br>
                <input type="email" placeholder="Enter your username" name="email" id="Email" required><br>
                <input type="password" placeholder="Create your password" name="password" id="password" required><br><br>
                <button id="login-button" >SignUp</button>
            </form>
        </div>
    </section>

{% endblock %}